{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="site-section bg-light" id="contact-section" data-aos="fade">
      <div class="container">
        <div class="row">
          <div class="col-md-12 mb-5">
            <form action="Register" method="post" class="p-5 bg-white">
            {% csrf_token %}
              <h2 class="h4 text-black mb-5">Registration form</h2>

              <div class="row form-group">
                <div class="col-md-12">
                  <label class="text-black" for="uname">User Name</label>
                  <input type="text" id="uname" name="uname" class="form-control">
                </div>
              </div>

              <div class="row form-group">

                <div class="col-md-12">
                  <label class="text-black" for="password">Password</label>
                  <input type="password" id="password" name='password' class="form-control">
                </div>
              </div>

              <div class="row form-group">

                <div class="col-md-12">
                  <label class="text-black" for="cpassword">Confirm Password</label>
                  <input type="password" id="cpassword" name="cpassword" class="form-control">
                </div>
              </div>

              <div class="row form-group">
                <div class="col-md-12">
                  <input type="submit" value="Submit" class="btn btn-primary btn-md text-white">
                </div>
              </div>


            </form>
            {% for msg in messages %}
              <h1> {{msg}} </h1>
            {% endfor %}
          </div>

        </div>
      </div>

</div>
{% endblock %}